

.container {
    /* position: fixed;
    bottom:0; */
    background-color: lightgray;
    width:100%;
    bottom:0;
    /* height:40vh; */
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 20vh;
    color: black;
}

.section {
    /* border: pink 2px solid; */
    width:30%;
     display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: small;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .section {
    width:100%;
  }
}