@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navContainer {
  color: white;
  padding: 1%;
  width: 100%;
  position:fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  /* background-color: white; */
  font-family:"montserrat";
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navItem {
  list-style: none;
  padding: 0px 20px;
} 

.searchContainer  {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-right: 2%;
} 


.navList {
  width:300px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input {
  border:none;
  border-radius: 10px; /* Add rounded corners */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 100px 100px 0px;
  background-color: rgba(255, 255, 255, 0.2); /* Use RGBA for transparency */
  margin-right: 1%;
}

