@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

.navContainer {
  padding: 1%;
  width: 100%;
  position:fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: white;
  font-family:"montserrat";
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navItem {
  list-style: none;
  padding: 0px 20px;
} 

.searchContainer  {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} 


.navList {
  width:300px;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.input {
  border:none;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 100px 100px 0px;
}

