/* styles.css */
/* styles/Navbar.module.css */

.navbar {
  position: fixed;
  top: 0;
  padding: 10px 0;
  /* border: black 1px solid; */
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  opacity: 100%;
  
}

.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navItem {
  margin: 0 10%;
}

.navLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.navLink:hover {
  text-decoration: underline;
}
